.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Logs
*.log

# IDE / editor config
.vscode/
.idea/
*.subl
